{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Change Password{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}">
<style>
    .container {
        flex-direction: row-reverse;
    }

    label {
        display: none;
    }

    input[type=email] {
        width: 100%;
        border: none;
        height: 50px;
        margin-bottom: 10px;
        outline: none;
        border-bottom: 2px solid var(--color-primary);
    }

    input[type=submit] {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock style %}

{% block content %}
<main>
    <div class="edgeBox-round"></div>
    <div class="edgeBox-square"></div>
    <div class="container">
        <div class="text-section">
            <div class="top-content">
                <h4>Quizzer</h4>
            </div>
            <div class="box-content">
                <h2>Welcome to Quizzer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quis voluptatibus sed aspernatur impedit! Labore aut laudantium quo id vero.</p>
                <a href="{% url 'login' %}">Sign in</a>
            </div>
        </div>
        <div class="form-section">

            <form method="post" class="wrapper" action="{% url 'account_reset_password' %}">
                <div class="form-heading">
                    <h1>Reset Password</h1>
                </div>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn" value="{% trans 'Reset Password' %}">
            </form>
        </div>
    </div>
</main>
{% endblock content %}