{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Change Password{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}">
<style>
    .container {
        flex-direction: row-reverse;
    }

    label {
        display: none;
    }

    input[type=password] {
        width: 85%;
        border: none;
        height: 50px;
        margin-bottom: 10px;
        outline: none;
        border-bottom: 2px solid var(--color-primary);
    }

    input[type=submit] {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p a {
        text-decoration: none;
        color: var(--color-primary);
    }
</style>
{% endblock style %}

{% block content %}
<main>
    <div class="edgeBox-round"></div>
    <div class="edgeBox-square"></div>
    <div class="container">
        <div class="text-section">
            <div class="top-content">
                <h4>Quizzer</h4>
            </div>
            <div class="box-content">
                <h2>Welcome to Quizzer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quis voluptatibus sed aspernatur impedit! Labore aut laudantium quo id vero.</p>
                <a href="{% url 'login' %}">Sign in</a>
            </div>
        </div>
        <div class="form-section">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-heading">
                    <h1>Change Password</h1>
                </div>

                {{ form.as_p }}
                <input type="submit" class="btn" value="{% trans 'Change Password' %}">
                <p><a href="{% url 'account_reset_password' %}" class="have-an-account">{% trans "Forgot Password?" %}</a></p>
            </form>
        </div>
    </div>
</main>
{% endblock content %}