{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Password Reset Complete{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}">
<style>
    .container {
        flex-direction: row;
    }
</style>
{% endblock style %}

{% block content %}
<main>
    <div class="edgeBox-round"></div>
    <div class="edgeBox-square"></div>
    <div class="container">
        <div class="text-section">
            <div class="top-content">
                <h4>Quizzer</h4>
            </div>
            <div class="box-content">
                <h2>Welcome to Quizzer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quis voluptatibus sed aspernatur impedit! Labore aut laudantium quo id vero.</p>
                <a href="{% url 'login' %}">Sign in</a>
            </div>
        </div>
        <div class="form-section">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-heading">
                    <h1>{% trans 'Your password is now changed.' %}</h1>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}