{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Password Reset Link Sent{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}">
<style>
    .container {
        flex-direction: row;
    }

</style>
{% endblock style %}

{% block content %}

<main>
    <div class="edgeBox-round"></div>
    <div class="edgeBox-square"></div>
    <div class="container">
        <div class="text-section">
            <div class="top-content">
                <h4>Quizzer</h4>
            </div>
            <div class="box-content">
                <h2>Welcome to Quizzer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quis voluptatibus sed aspernatur impedit! Labore aut laudantium quo id vero.</p>
                <a href="{% url 'login' %}">Sign in</a>
            </div>
        </div>
        <div class="form-section">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-heading">
                    <h1>{% trans "Password Reset Sent" %}</h1>
                </div>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.{% endblocktrans %}</p>
                <p><a href="{% url 'account_reset_password' %}" class="have-an-account">{% trans "Didn't receive an email." %}</a></p>
            </form>
        </div>
    </div>
</main>
{% endblock content %}