{% extends '_base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<style>
    section {
        width: 100%;
        height: 100vh;
    }

    main {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-family: fira sans;
    }

    nav {
        background-color: #3B0A6B;
    }

    nav ul {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        list-style-type: none;
    }

    nav ul li a {
        color: white;
        font-family: sans-serif;
        font-size: 17px;
    }

    .banner {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-between;
    }

    .nav-menu-actions {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .search-backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
    }

    .circle-1 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: yellow;
        position: absolute;
        margin-left: 20rem;
    }

    .circle-2 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
    }

    .form-group {
        z-index: 4;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        height: 500px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10rem auto;
        padding: 30px;
    }

    .form-group input {
        width: 100%;
        height: 50px;
        background: none;
        border: none;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        font-size: 20px;
        color: white;
        font-family: sans-serif;
        padding-left: 10px;
    }

    ::placeholder {
        color: white;
    }
</style>
{% endblock style %}

{% block content %}
<section>
    <nav>
        <ul>
            <div class="banner">
                <li><a href="{% url 'home_page' %}" style="font-family: cooper black; font-size: 40px;">Quizzer</a></li>
            </div>
            <div class="nav-menu-actions">
                <li><a href=""><i class="fa fa-search"></i></a></li>
                <li><i class="fa fa-copyright"></i>0.00</li>
                <li><a href="{% url 'profile' %}">{{ request.user.first_name }}</a></li>
            </div>
        </ul>
    </nav>
    <section class="backdrop">
        <div class="search-backdrop">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="rect-1"></div>
            <div class="form-group">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </section>

    <!-- {% extends 'base.html' %}

    {% block content %}
    <h1>All Categories</h1>
    <ul>
        {% for category in object_list %}
        <li><a href="{% url 'quiz:category_detail' category.pk %}">{{ category.name }}</a></li>
        {% empty %}
        <li>No categories found.</li>
        {% endfor %}
    </ul>
    {% endblock %} -->
</section>
{% endblock content %}