{% extends '_base.html' %}

{% block content %}
<h1>{{ category.category }} Quiz</h1>
<form method="post">
  {% csrf_token %}
  {% for question in questions %}
  <div class="question">
    <h3>{{ question.question }}</h3>
    {% if question.image %}
    <img src="{{ question.image.url }}" alt="{{ question.question }}">
    {% endif %}
    {% for choice in question.choices.all %}
    <input type="radio" id="choice_{{ choice.id }}" name="answer_{{ question.id }}" value="{{ choice.id }}">
    <label for="choice_{{ choice.id }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    {% if not question.user_answered %}
    <span class="error">Please select an answer.</span>
    {% endif %}
  </div>
  {% endfor %}
  {% if has_previous %}
  <button type="submit" name="action" value="previous">Previous</button>
  {% endif %}
  {% if has_next %}
  <button type="submit" name="action" value="next">Next</button>
  {% endif %}
  {% if not has_next %}
  <button type="submit" name="action" value="end">End Quiz</button>
  {% endif %}
</form>
{% endblock %}