{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h1>Quiz History</h1>
    {% if quiz_history %}
    <table class="table">
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Recent Score</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz_profile in quiz_history %}
            <tr>
                <td>{{ quiz_profile.category }}</td>
                <td>{{ quiz_profile.recent_score }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No quiz history found.</p>
    {% endif %}
</div>
{% endblock %}